@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);

@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 100;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: auto;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
::selection {
  background: #58d3e5;
  color: #ffffff;
}
::-moz-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-o-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-ms-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-webkit-selection {
  background: #58d3e5;
  color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body,
html,
p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 13px;
  color: #E5E5E5;
  letter-spacing: 1px;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.snow-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  background-color: #3d464c;
}
.snow {
  display: block;
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
  animation: snow linear infinite;
}
.snow.foreground {
  opacity: 0.8;
  background-image: url('../snow_large.png');
  -webkit-animation-duration: 15s;
  an-imation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}
.snow.middleground {
  opacity: 0.8;
  background-image: url('../snow_med.png');
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.snow.background {
  opacity: 0.8;
  background-image: url('../snow_small.png');
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}
.snow.background.layered {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}
@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 100%, 0);
    transform: translate3d(5%, 100%, 0);
  }
}
@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 100%, 0);
    transform: translate3d(5%, 100%, 0);
  }
}
.content {
  position: relative;
  z-index: 20;
  max-width: 480px;
  margin: 70px 75px 0px;
}
.content h1 {
  display: block;
  font-size: 40px;
  font-family: 'Over the Rainbow', cursive;
  margin: 35px 0px;
}
.content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  color: #adadad;
}
.content p {
  margin-bottom: 22px;
  line-height: 22px;
}
.content p a {
  color: #DC8D38;
  font-weight: 700;
}
.content p a.underline {
  border-color: #FFD8B3 !important;
  border-bottom: 2px solid;
  margin-bottom: -1px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.content p a:hover {
  color: #cb7c27;
  border-color: #FCDD66 !important;
}
.links ul {
  display: block;
  margin: 50px 0px 0px;
  width: 130%;
}
.links ul li {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 2px;
  border: 2.5px solid #FFC484;
  margin-right: 5px;
  margin-bottom: 10px;
}
.links ul li a {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 9px;
  color: #787771;
}
.links ul li a:focus,
.links ul li a:visited {
  color: #787771;
}
.links ul li:hover {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  background-color: #eeb373;
  border-color: #eeb373;
}
.links ul li:hover a {
  color: white;
}
.links ul .solid {
  background-color: #FFC484;
}
.links ul .solid a,
.links ul .solid a:visited,
.links ul .solid a:focus {
  color: white;
}
.links ul .solid:hover {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  background-color: #eeb373;
  border-color: #eeb373;
}
#bg {
  position: fixed;
  z-index: -6;
  background: transparent url('../bg.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#work_bg {
  position: fixed;
  z-index: -6;
  background: transparent url('../gradient.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
  height: 100vh;
}
.winter {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  background: transparent url('../winter.jpg') center center no-repeat !important;
  background-size: cover !important;
}
.work_list {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  display: none;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  width: 90%;
  padding: 160px 40px 40px;
  margin: 0 auto;
  text-align: center;
}
.work_list li {
  display: inline-block;
  max-width: 280px;
  margin-right: 40px;
  margin-top: 40px;
  vertical-align: -webkit-baseline-middle;
}
.work_list li img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 34px -9px #303030;
  -moz-box-shadow: 0px 0px 34px -9px #303030;
  box-shadow: 0px 0px 34px -9px #303030;
}
.work_list li:last-child {
  margin-right: 0px;
}
.work_list li:hover {
  margin-top: -40px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
@media (max-width: 400px) {
  #bg {
    height: auto;
  }
  .content {
    max-width: none;
    margin: 40px 8%;
  }
  .content .links ul {
    width: 100%;
    text-align: left;
  }
}
