@import url('/reset.less');

.block{
	display: block;
}
.center{
	text-align: center;
}
.clearfix{
	clear: both;
}
.inlineblock{
	display: inline-block;
}
.left{
	float: left;
}
.right{
	float: right;
}
.indent{
	padding: 2px 0px 2px 10px !important;
	font-size: 13px !important;
}
.clearfix{
	clear:both;
} // clearfix

.transition{
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
} // transition

.fasttransition{
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
} // fasttransition

.notransition{
	-webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
} // notransition

h2{
	font-size: 40px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 18px;
}

p{
	font-family: 'Raleway' sans-serif;
}

//palatte: 
@bg: #1e1e1e;
@yellow: rgb(255, 221, 84);
@text: #CACACA;
@cream: rgb(243, 242, 235);
@gray: rgb(66, 66, 66);
@slate: rgb(243, 242, 238);
@slate2: rgb(189, 182, 182);


body{
	font-family: 'Montserrat', sans-serif;
	.cta{
		margin: 20px auto;
		.center;
		border: 3px solid @yellow;
		border-radius: 5px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 45px;
		padding-right: 45px;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500;
		color: @yellow;
		.fasttransition;
		background: transparent;
	}
	.cta:hover{
		background: @yellow;
		border-color: @yellow - #111111;
		color: black;
	}
	.fixed{
		position: fixed;
	}
	nav{
		.center;
		position: fixed;
		right: 0px;
		background: rgba(255, 255, 255, 0.84);
		border-bottom: 1px solid rgb(184, 184, 184);
		padding: 10px;
		width: 100%;
		color: @text;
		z-index: 50;
		ul{
			float: right;
			li{
				a{
					color: #444444;
					text-transform: uppercase;
					border: 3px solid transparent;
					letter-spacing: 1px;
					font-size: 12px;
				}
				a:hover{
					color: @gray;
					background-color: transparent !important;
					border: 3px solid rgba(66, 66, 66, 0.4);
					border-radius: 5px;
					.transition;
				}
			}//li
		}//ul
	}
	section{
		.block;
		margin: 0 auto;
		padding: 5% 10%;
		.content{
			width: 60%;

		}
		.visual{
			width: 25%;
			img{
				width: 100%;
			}
		}//visual
		h3{
			margin-bottom: 25px;
		}
	}//section
	section.header{
		.center;
		background:  @bg url('../img/bg.png') center center no-repeat;
		background-size: cover;
		border-bottom: 1px solid @gray;
		color: @text;
		padding-bottom: 130px;
		margin-bottom: 0px;
		h1{
			margin: 100px auto 20px auto;
			color: @yellow;
		}//h1
		.header_loc, .header_time{
			margin: 10px auto;
		}//header_loc
	}//headers
	section.whyhack{
		.block;
		background: @cream;
		min-height: 400px;
		.cta{
			color: @gray;
			border-color: @gray;
		}
		.cta:hover{
			background: transparent;
		}
	}
	section.rules{
		min-height: 400px;
	}
	section.sponsors{
		min-height: 400px;
		border-top: 1px solid @slate;
	}

	section.vm{
		background: @slate;
	}
	section.faq{
		min-height: 400px;
		p{
			margin-bottom: 15px;
			font-size: 14px;
		}
	}//faq
	section.contact{
		background: @cream;
	}
	footer{
		.block;
		background: @bg;
		color: @slate;
		.center;
		p{
			padding: 20px;
			font-size: 12px;
		}
	}//footer
}//body

@media(max-width: 450px){
	body{
		section{
			padding: 5% 2%;
		}
		.cta{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 16px;
		}//cta
		.content, .visual{
			width: 90% !important;
			float: none;
			margin: 0 auto;
			.block;
		}
		section.faq{
			width: 100%;
			margin: 0 auto;
			padding-left: 5%;
			padding: right: 5%;
		}
	}//body
}