@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700);

@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);
@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 100;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: auto;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
::selection {
  background: #EA9B2C;
  color: #ffffff;
}
::-moz-selection {
  background: #EA9B2C;
  color: #ffffff;
}
::-o-selection {
  background: #EA9B2C;
  color: #ffffff;
}
::-ms-selection {
  background: #EA9B2C;
  color: #ffffff;
}
::-webkit-selection {
  background: #EA9B2C;
  color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body,
html,
p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 13px;
  color: #636363;
  letter-spacing: 1px;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.clearfix {
  clear: both;
}
.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.tooltip_btn + .tooltip > .tooltip-inner {
  background-color: #636363;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}
.tooltip_btn + .tooltip > .tooltip-arrow {
  border-bottom-color: #636363;
}
button {
  display: block;
  background: white;
  padding: 15px 29px;
  border-radius: 54px;
  color: #ea9b2c;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  margin: 59px auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.cta {
  background-color: #ea9b2c;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 0px auto;
  border: none;
}
.cta:hover {
  opacity: 0.5;
}
.secondary {
  display: inline-block;
  background: white;
  border: 2px solid #ea9b2c;
  border-radius: 2px;
  color: #636363;
  padding: 10px 41px;
}
.divline {
  display: block;
  width: 60%;
  height: 1px;
  border-top: 1px solid #CDCDCD;
  margin: 20px auto;
  max-width: 650px;
}
h2 {
  display: block;
  color: #ea9b2c;
  font-size: 18px;
  font-weight: 900;
  margin: 15px auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.5px;
}
section#landing_splash nav {
  display: block;
  background: white;
  margin-bottom: 0px;
}
section#landing_splash nav #landing_logo {
  display: inline-block;
  width: 135px;
  float: left;
  padding: 0px;
  height: 90px;
  margin-left: 27px;
}
section#landing_splash nav ul.landing_nav_right {
  display: inline-block;
  float: right;
  padding-top: 29px;
  padding-bottom: 25px;
}
section#landing_splash nav ul.landing_nav_right li {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 8px 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
}
section#landing_splash nav ul.landing_nav_right #nav_join {
  border: 2px solid #EA9B2C;
  border-radius: 2px;
}
section#landing_splash nav ul.landing_nav_right #button_wrapper {
  padding: 0px 10px;
  border: none;
}
section#landing_splash nav ul.landing_nav_right #button_wrapper button:hover,
section#landing_splash nav ul.landing_nav_right #button_wrapper button:visited,
section#landing_splash nav ul.landing_nav_right #button_wrapper button:active {
  background-color: rgba(234, 155, 44, 0.5);
  color: white;
  border: none;
}
section#landing_splash div.splash {
  height: 550px;
  background: transparent url("../img/bg.png") center center no-repeat;
  display: block;
}
section#landing_splash div.splash h1,
section#landing_splash div.splash h3 {
  display: block;
  text-align: center;
}
section#landing_splash div.splash h1 {
  color: #FFA01A;
  font-weight: bold;
  font-size: 27px;
  padding-top: 190px;
}
section#landing_splash div.splash h3 {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 9px;
}
section#explore_nex {
  display: block;
  background: white;
  padding: 80px 10% 30px;
}
section#explore_nex h4 {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
section#explore_nex .cta {
  margin: 35px auto 60px;
}
section#explore_nex .value_prop h2 {
  margin-top: 50px;
  color: #636363;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 2.5px;
}
section#popular_service {
  padding: 40px 10% 30px;
}
section#popular_service h2 {
  color: #636363;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 2.5px;
}
section#popular_service ul {
  display: block;
  text-align: center;
  margin: 40px auto 0px;
}
section#popular_service ul li {
  display: inline-block;
  position: relative;
  width: 29%;
  margin: 13px 1%;
  text-align: center;
  cursor: pointer;
}
section#popular_service ul li h3 {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  top: 50%;
  height: 60px;
  margin-top: -20px;
  width: 190px;
  left: 50%;
  margin-left: -95px;
}
section#popular_service ul li img {
  display: inline-block;
  width: 100%;
}
section#popular_service ul li:hover {
  opacity: 0.5;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
section#popular_service .cta_wrapper {
  display: block;
  margin: 5px auto;
  text-align: center;
}
section#popular_service .cta_wrapper .cta {
  display: inline-block;
  margin: 35px auto;
  padding: 12px 30px;
}
section#popular_service .cta_wrapper .secondary {
  padding: 10px 30px;
}
section#quotes {
  height: 350px;
  width: 100%;
  position: relative;
  background: transparent url('../img/7.png') center center no-repeat;
  display: block;
}
section#quotes .quote_content {
  background: rgba(234, 155, 44, 0.78);
  color: white;
  width: 55%;
  padding: 45px;
  margin: 20px;
  height: 130px;
  position: absolute;
  top: 50%;
  margin-top: -115px;
  margin-left: 45px;
  border-radius: 3px;
}
section#quotes .quote_content p {
  color: white;
  font-weight: 800;
  font-size: 15px;
}
footer {
  width: 100%;
  height: 80px;
  background: #3D3D3D;
}
@media screen and (max-width: 600px) {
  section#landing_splash nav #landing_logo {
    display: inline-block;
    width: 90px;
    float: left;
    padding: 0px;
    height: 60px;
    margin-left: 17px;
  }
  section#landing_splash nav ul.landing_nav_right {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0px;
  }
  section#landing_splash nav ul.landing_nav_right li {
    display: block;
  }
  section#landing_splash nav ul.landing_nav_right li#nav_join {
    border: none;
  }
  section#landing_splash nav ul.landing_nav_right li#button_wrapper {
    padding: 10px 10px 0px;
  }
  section#popular_service ul li {
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  section#popular_service .cta_wrapper .cta {
    margin: 5px auto;
  }
}
