<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">Thanks for visiting</h2>
        <ul class="footer-social">
          <li><a href="http://twitter.com/nicolekjiang" target="_blank"><img src="assets/social/twitter.png"></a></li>
          <li><a href="http://instagram.com/nicolekjiang" target="_blank"><img src="assets/social/instagram.png"></a></li>
          <li><a href="http://dribbble.com/nicolekjiang" target="_blank"><img src="assets/social/dribbble.png"></a></li>
          <li><a href="https://ca.linkedin.com/in/nicolekjiang" target="_blank"><img src="assets/social/linkedin.png"></a></li>
        </ul>
    </div>

  </div>

</footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- jquery.easing by http://gsgd.co.uk/ : http://gsgd.co.uk/sandbox/jquery/easing/ -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- waypoints jQuery plugin by http://imakewebthings.com/ : http://imakewebthings.com/jquery-waypoints/ -->
  <script src="/js/waypoints.min.js"></script>
  <!-- jquery-smartresize by @louis_remi : https://github.com/louisremi/jquery-smartresize -->
  <script src="/js/jquery.debouncedresize.js"></script>
  <script src="/js/cbpFixedScrollLayout.min.js"></script>
  <script src="/js/jquery.adaptive-backgrounds.js"></script>
  <script src="/js/jquery.colorscroll.min.js"></script>
  <script type="text/javascript" src="/js/skrollr.min.js"></script>

  <script src="/js/classie.js"></script>
  <script src="/js/menu.js"></script>
  <script src="js/wow.min.js"></script>

<script>
  new WOW().init();
  $(document).ready(function(){
    $.adaptiveBackground.run();
  });
  $(function() {
    cbpFixedScrollLayout.init();
  });
  if (Modernizr.touch) {
      skrollr.init().destroy();
  } else {   
      var s=skrollr.init();  
  }

  $('body').colorScroll({
      colors: [{
          color: '#43D9E5', //teal
          position: '0%'
      }, {
          color: '#074D52', //blue
          position: '10%'
      }, {
          color: '#CBDFEC', //blue
          position: '25%'
      }, {
          color: '#CED0F7', //purple
          position: '40%'
      }, {
          color: '#F2DA9F', //yellow
          position: '60%'
      }, {
          color: '#FFC16B', //orange
          position: '95%'
      }]
  });

</script>
